.article {
  margin-top: 142px;
}

.article__container {
  padding: 20px;
  display: flex;
  gap: 31px;
  align-items: center;
}

.article-left {
  width: 1110px;
  height: 820px;
  h3 {
    padding-top: 142px;
    text-transform: uppercase;
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    text-align: left;

    margin-bottom: 24px;
    color: rgba(189, 189, 189, 1);
  }
  h2 {
    width: 540px;
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;

    color: rgba(41, 40, 48, 1);
  }
  p {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;

    color: rgba(189, 189, 189, 1);
    margin-bottom: 24px;
  }
}

.article-icon {
  display: flex;
  gap: 12px;
  a {
    text-decoration: none;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: rgba(255, 114, 53, 1);
    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 35px;
  }
  .article {
    margin-top: 135px;
  }

  .article__container {
    padding: 15px;
    gap: 20px;
    align-items: center;
  }
  h3 {
    font-size: 18px;
    line-height: 32px;
    text-align: left;

    margin-bottom: 20px;
  }
  h2 {
    width: 510px;
    font-size: 86px;
    line-height: 86px;
  }
  p {
    font-size: 20px;
    line-height: 33px;

    margin-bottom: 18px;
  }
}

@media screen and (max-width: 768px) {
  .article__container {
    flex-direction: column;
  }
  .container {
    padding: 0 20px;
  }
  .article {
    margin-top: 120px;
  }

  .article__container {
    padding: 12px;
    gap: 18px;
    align-items: center;
  }
  h3 {
    font-size: 14px;
    line-height: 26px;
    text-align: left;

    margin-bottom: 15px;
  }
  h2 {
    width: 480px;
    font-size: 70px;
    line-height: 70px;
  }
  p {
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 12px;
  }
}
