$main-color: rgba(255, 114, 53, 1);
$dark: rgba(0, 0, 0, 1);
$primary-font: "Hind Siliguri", sans-serif;
$light: #bdbdbd;

@mixin btn($bg, $color) {
  align-items: center;
  display: flex;
  width: 136px;
  height: 50px;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid $main-color;
  background-color: $bg;
}
.choose {
  padding: 124px 165px;
  margin-top: -300px;
  margin-bottom: -20px;
}

.choose__container {
  background-color: #fffaf8;
  h2 {
    padding-top: 124px;
    font-family: $primary-font;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: $dark;
  }
}

.your {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.plan {
  padding: 41px 114px 45px 40px;
  width: 350px;
  height: 500px;
  border-radius: 12px;
  border: 1px solid rgba(245, 245, 245, 1);
  h2 {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    color: $dark;
  }
  button {
    align-items: center;
    width: 136px;
    height: 50px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #ff7235;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.87px;
    text-align: left;
    color: #ff7235;
  }
}

.plan_icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 24px;
  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    padding-bottom: 8px;
  }
}

.plan_exp {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
  }
}

.clo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    text-align: left;
  }
  h3 {
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.81px;
    p {
      padding-top: 10px;
      font-family: $primary-font;
      font-size: 12px;
      font-weight: 400;
      line-height: 19.4px;
    }
  }
}

.clo-btn {
  width: 136px;
  height: 50px;

  gap: 10px;
  border-radius: 8px;
  border: 1px solid $main-color;
  align-items: center;
  margin-top: 40px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.87px;
  color: $main-color;
}

.silver {
  padding: 41px 114px 60px 40px;
  width: 350px;
  height: 500px;
  border-radius: 12px;
  border: 1px solid rgba(245, 245, 245, 1);
  h2 {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    color: $dark;
  }
  .icon-btn {
    display: flex;
    align-items: center;
    button {
      margin-top: 40px;
      width: 136px;
      height: 50px;
      padding: 12px 24px 12px 24px;
      gap: 10px;
      border: none;
      border-radius: 8px;
      background-color: #ff7235;
      font-family: "Hind Siliguri";
      font-size: 16px;
      font-weight: 400;
      line-height: 25.87px;
      text-align: left;
      color: #ffffff;
    }
  }
}

.silver_icon {
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    color: $dark;
  }
}

.silver-exp {
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    text-align: left;
  }
}

.silver_cloud {
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
  }
}
h3 {
  padding-top: 24px;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.81px;
  color: $dark;
}
p {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.4px;
  color: $light;
}

.button {
  @include btn(red, black);
}

.diamond {
  padding: 41px 114px 60px 40px;
  width: 350px;
  height: 500px;
  border-radius: 12px;
  border: 1px solid rgba(245, 245, 245, 1);
  h2 {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    color: $dark;
  }

  .diamond_icon {
    display: flex;
    align-items: center;
    gap: 8px;

    h2 {
      font-family: $primary-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
      color: $dark;
    }
  }

  .diamond-exp {
    display: flex;
    align-items: center;
    gap: 8px;

    h2 {
      font-family: $primary-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
      text-align: left;
    }
  }

  .diamond_cloud {
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    h2 {
      font-family: $primary-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.11px;
    }
  }
  h3 {
    padding-top: 24px;
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.81px;
    color: $dark;
  }
  p {
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.4px;
    color: $light;
  }
  .diamond-icon-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  button {
    margin-top: 40px;
    width: 136px;
    height: 50px;
    gap: 10px;
    border: none;
    border-radius: 8px;
    border: 1px solid #ff7235;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.87px;
    color: #ff7235;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 35px;
  }
  .choose__container {
    h2 {
      padding-top: 110px;
      font-size: 60px;
      line-height: 60px;
    }

    .plan_icon {
      gap: 8px;
      padding-top: 20px;
      h2 {
        font-size: 16px;
        line-height: 27px;
        padding-bottom: 6px;
      }
    }

    .plan_exp {
      gap: 6px;

      h2 {
        font-size: 16px;
        line-height: 28px;
      }
    }

    .silver {
      padding: 35px 100px 50px 30px;
      width: 310px;
      height: 420px;
      border-radius: 8px;
      h2 {
        font-size: 28px;
        line-height: 46px;
      }
    }

    .your {
      gap: 16px;
      align-items: center;
      justify-content: center;
    }

    .plan {
      h2 {
        font-size: 24px;
        line-height: 40px;
      }
      button {
        align-items: center;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .clo {
      justify-content: center;
      align-items: center;
      gap: 6px;
      h2 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
      h3 {
        font-size: 20px;
        line-height: 32px;
        p {
          padding-top: 8px;
          font-size: 10px;
          line-height: 16px;
        }
      }
      .silver-exp {
        gap: 6px;

        h2 {
          font-size: 15px;
          line-height: 26px;
          text-align: center;
        }

        .diamond {
          padding: 35px 105px 50px 30px;
          width: 310px;
          height: 420px;
          border-radius: 8px;
          h2 {
            font-size: 28px;
            line-height: 47px;
          }
        }
      }

      @media screen and (max-width: 768px) {
        .choose__container {
          background-color: unset;
          .container {
            padding: 0 20px;
          }
          .choose__container {
            h2 {
              text-align: center;
              padding-top: 90px;
              font-size: 45px;
              line-height: 45px;
            }
          }
          .plan_icon {
            gap: 6px;
            padding-top: 15px;
            h2 {
              font-size: 12px;
              line-height: 22px;
              padding-bottom: 4px;
            }
          }

          .plan_exp {
            gap: 4px;

            h2 {
              text-align: center;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }

        .your {
          gap: 15px;
          align-items: center;
          justify-content: center;
        }

        .plan {
          h2 {
            text-align: center;
            font-size: 18px;
            line-height: 33px;
          }
          button {
            text-align: center;
            align-items: center;
            font-size: 8px;
            line-height: 14px;
          }
        }

        .clo {
          justify-content: center;
          align-items: center;
          gap: 4px;
          h2 {
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
          }
          h3 {
            font-size: 16px;
            line-height: 24px;
            p {
              padding-top: 6px;
              font-size: 8px;
              line-height: 14px;
            }
          }
        }

        @media screen and (max-width: 568px) {
          .container {
            padding: 0 10px;
          }
          .choose__container {
            h2 {
              text-align: center;
              padding-top: 60px;
              font-size: 30px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
