$main_color: rgba(255, 114, 53, 1);
$color: rgba(189, 189, 189, 1);
.free__container {
  background-color: rgba(255, 250, 248, 1);
  display: flex;
  gap: 28px;
  width: 1110px;
}

.free-right {
  // padding: 142px 165px;
  h6 {
    text-transform: uppercase;
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 35.57px;
    color: $color;
    padding-bottom: 24px;
  }
  h2 {
    width: 540px;
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;

    color: rgba(41, 40, 48, 1);
    margin-bottom: 24px;
  }
  p {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: $color;
    margin-bottom: 24px;
  }
}

.free-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}


@media screen and (max-width: 992px) {
  .container{
    padding: 0 40px;
  }
  .free__container {
    flex-direction: column;
    background-color: transparent; 
    gap: 24px;
    width: 992px;
  }
  
.free-right {
  padding: 120px 150px;
  h6 {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 18px;
  }
  h2 {
    width: 510px;
    font-size: 80px;
    line-height: 80px;
    text-align: left;

    margin-bottom: 18px;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
  }
}
}

@media screen and (max-width: 768px) {
  .container{
    padding: 0 20px;
  }
  .free__container {
    gap: 24px;
    width: 992px;
  }
  
.free-right {
  padding: 120px 150px;
  h6 {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 12px;
  }
  h2 {
    width: 480px;
    font-size: 55px;
    line-height: 55px;
    text-align: center;

    margin-bottom: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
  }
}
}