.hero {
  margin-top: 106px;
  margin-bottom: 211px;
  .hero__container {
    align-items: center;
    display: flex;
    gap: 30px;
  }
}
.hero-left {
  width: 540px;
  h1 {
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
  }
  p {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: rgba(189, 189, 189, 1);
  }
 .btn{
  gap: 24px;
  display: flex;
  align-items: center;
 }
  button {
    display: flex;
    align-items: center;
    width: 225px;
    height: 75px;
    padding: 18px 24px 18px 24px;
    gap: 10px;
    border-radius: 8px;
    background-color: #ff7235;
    border: none;
    color: #ffffff;
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    margin-top: 40px;
  }
  button:hover{
    cursor: pointer;
  }
  p{
    padding-top: 40px;
font-family: 'Hind Siliguri';
font-size: 24px;
font-weight: 400;
line-height: 38.81px;

  }
}
