.nav {
  margin-bottom: 24px;
  background-color: rgba(255, 114, 53, 1);
  height: 712px;

  padding: 87px 165px;
  text-overflow: hidden;

  width: 1440px;
}

.logo {
  margin-top: 86px;
  margin-bottom: 69px;
  align-items: center;
  display: flex;
  gap: 108px;
  img {
    // display: none;
    margin-bottom: 69px;
  }
  img:hover {
    filter: grayscale(50%) brightness(120%) contrast(80%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
  }
}
