.nav {
}
.nav__container {
  background-color: rgba(255, 114, 53, 1);
  width: 1110px;

  margin-bottom: 24px;
  height: 712px;

  img {
    padding-top: 212px;
    max-width: 80%;
    width: 100%;
    padding-left: 165px;
    padding-right: 165px;
  }
  .logo {
    margin-top: -86px;
    margin-bottom: -69px;
    display: flex;
    align-items: center;
    img {
      margin-bottom: 69px;
    }
    img:hover {
      filter: grayscale(50%) brightness(120%) contrast(80%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
      cursor: pointer;
    }
  }
}

