$dark: rgba(41, 40, 48, 1);
$light: rgba(189, 189, 189, 1);
.product {
    background-color: rgba(255, 255, 255, 1);
    padding: 139px 165px;
}
.product-left {
    display: flex;
    align-items: center;
    gap: 30px;

    h2 {
        font-family: "Hind Siliguri";
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        color: $dark;
    }
    P {
        width: 350px;
        font-family: "Hind Siliguri";
        font-size: 24px;
        font-weight: 400;
        line-height: 38.81px;
        color: $light;
    }
}

.product-right {
    margin-top: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .product_cross {
        padding: 63px 65px;
        width: 350px;
        height: 350px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 1);
    }

    h2 {
        padding-top: 24px;
        font-family: "  Hind Siliguri";
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
    }
    p {
        padding-top: 12px;
        font-family: "Hind Siliguri";
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        text-align: center;
        color: $light;
    }
}

.cloud {
    padding: 63px 65px;
    width: 350px;
    height: 350px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    h2 {
        padding-top: 24px;
        font-family: "Hind Siliguri";
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        color: $dark;
    }

    p {
        font-family: "Hind Siliguri";
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        text-align: center;
        color: $light;
    }
    img {
    }
}

.pure {
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 1);
    padding: 63px 65px;
    h2 {
        font-family: "Hind Siliguri";
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
    }
    p {
        font-family: "Hind Siliguri";
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        text-align: center;
        color: $light;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 40px;
    }
    .product-left {
        gap: 25px;
        h2 {
            text-align: center;
            font-size: 70px;
            line-height: 70px;
        }
        P {
            width: 340px;
            font-size: 20px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .product-left {
        gap: 15px;
        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
        }
        p {
            width: 300px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@media screen and (max-width: 568px) {
    .container {
        padding: 0 20px;
    }
    .product-left {
        gap: 8px;
        h2 {
            text-align: center;
            font-size: 20px;
            line-height: 20px;
        }
        p {
            width: 280px;
            font-size: 8px;
            line-height: 14px;
        }
    }
}
