$light: rgba(189, 189, 189, 1);
$main_color: rgba(255, 114, 53, 1);
.use__container {
  display: flex;
  gap: 33px;
  background-color: rgba(255, 255, 255, 1);
  padding: 149px 162px 148px 165px;
}

.use-left {
  h6 {
    text-transform: uppercase;
    font-family: "Hind Siliguri";
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    color: $light;
  }
  h2 {
    width: 540px;
    padding-top: 24px;
    font-family: "Hind Siliguri";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;

    color: rgba(0, 0, 0, 1);
  }
  p {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    text-align: left;

    color: $light;
    padding-bottom: 24px;
  }
}

.use-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    font-family: "Hind Siliguri";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $main_color;
    transition: all 0.5s;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 35px;
  }
  .use__container {
    gap: 25px;
  }

  .use-left {
    h6 {
      font-size: 18px;
      line-height: 18px;
      text-align: left;
    }
    h2 {
      width: 510px;
      padding-top: 18px;
      font-size: 80px;
      line-height: 80px;
      text-align: left;
    }
    p {
      font-size: 18px;
      line-height: 32px;
      text-align: left;

      padding-bottom: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .use__container {
    flex-direction: column;
  }
  .container {
    padding: 0 25px;
  }
  .use__container {
    gap: 18px;
  }

  .use-left {
    h6 {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
    h2 {
      width: 480px;
      padding-top: 14px;
      font-size: 55px;
      line-height: 55px;
      text-align: center;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      text-align: center;

      padding-bottom: 14px;
    }
  }
}

@media screen and (max-width: 568px) {

  .container {
    padding: 0 15px;
  }
  .use__container {
    gap: 12px;
  }

  .use-left {
    h6 {
      font-size: 10px;
      line-height: 10px;
      text-align: center;
    }
    h2 {
      width: 445px;
      padding-top: 8px;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
    }
    p {
      font-size: 10px;
      line-height: 16px;
      text-align: center;

      padding-bottom: 10px;
    }
  }
}
